In [1]:
import pandas as pd

In [15]:
genre_cols = ['unknown','fiction','fantasy','romance','young-adult',
              'mystery','contemporary','non-fiction','classics','thriller',
              'adult','paranormal','historical','childrens','crime',
              'humor','chick-lit','adventure','horror']
books_cols = ['book_id', 'good_book_id','author','title', "img_url"] + genre_cols
books = pd.read_csv(r'C:\Users\raaga\Desktop\cmpe272\BookSwap\bookswap\bookswap_ml\data\book_info', sep='|', names=books_cols, encoding='latin-1')
processed_title=[]
for name in books['title']:
  name = name.lower()
  name = name.strip(" ")
#   print(name)
  if not (name.isalnum()):
    name = ''.join(e for e in name if e.isalnum())
#     print(name)
  processed_title.append(name)
# print(processed_title)
books['edited_title'] = processed_title
books['edited_title']

0                           thehungergamesthehungergames1
1             harrypotterandthesorcerersstoneharrypotter1
2                                       twilighttwilight1
3                                      tokillamockingbird
4                                          thegreatgatsby
                              ...
9995                                    bayoumoontheedge2
9996                meansofascenttheyearsoflyndonjohnson2
9997                                  themauritiuscommand
9998    cinderellaatemydaughterdispatchesfromthefrontl...
9999                                     thefirstworldwar
Name: edited_title, Length: 10000, dtype: object

In [16]:
print(books['edited_title'])

0                           thehungergamesthehungergames1
1             harrypotterandthesorcerersstoneharrypotter1
2                                       twilighttwilight1
3                                      tokillamockingbird
4                                          thegreatgatsby
                              ...
9995                                    bayoumoontheedge2
9996                meansofascenttheyearsoflyndonjohnson2
9997                                  themauritiuscommand
9998    cinderellaatemydaughterdispatchesfromthefrontl...
9999                                     thefirstworldwar
Name: edited_title, Length: 10000, dtype: object

In [46]:
bookname=' TheLeopard'
bookname = bookname.lower()
print(bookname)
if not (bookname.isalnum()):
    bookname = ''.join(e for e in bookname if e.isalnum())
    print(bookname)
df = books[books['edited_title'].astype(str).str.contains(bookname)]
print(df)
if df.empty == True:
    print('No data')
    
# df.iloc[0]['title']


# print(found)

 theleopard
theleopard

'The Leopard'